{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 4,
    "number-leading-zero": null,
    "declaration-no-important": true,
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes"
      ]
    }]
  }
}
